############################
# ===== Keil MDK =====
############################

# 用户相关（必须忽略）
*.uvoptx
*.uvgui.*
*.bak

# 编译输出目录
Objects/
Listings/

# 编译生成文件
*.axf
*.elf
*.hex
*.bin
*.map
*.o
*.d
*.crf
*.dep

############################
# ===== VSCode =====
############################

.vscode/

############################
# ===== 通用 =====
############################

*.log
.DS_Store
Thumbs.db

############################
# ===== 可选（看情况）=====
############################
# 如果你用 CubeMX 但不用 CubeIDE
.metadata/
.settings/
**/.claude/
MDK-ARM/.eide/